@using Umbraco.Core.PropertyEditors
@inherits UmbracoViewPage
@{
    Layout = null;
    // Get basic design settings from the homepage
    var home = (Home)Model.Root();
    var font = home.Font;
    var colorTheme = home.ColorTheme;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@Model.Name - @home.Sitename</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="@Url.Content("~/css/styles.css")" />
    
    @*AOS - Animate on scroll*@
    <link rel="stylesheet" href="~/node_modules/aos/dist/aos.css" />
    
    @*Slick slider*@
    <link rel="stylesheet" type="text/css" href="~/node_modules/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="~/node_modules/slick-carousel/slick/slick-theme.css"/>

    @RenderSection("Header", required: false)
</head>

<body class="frontpage theme-font-@font theme-color-@colorTheme">

    @Html.Partial("~/views/partials/Main/Header.cshtml")

    <main>
        @RenderBody()
    </main>
    
    @Html.Partial("~/views/partials/Main/Footer.cshtml")

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

    @*Popper*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    @*Bootstrap*@
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
     
    @*AOS - Animate on scroll*@
    <script src="~/node_modules/aos/dist/aos.js"></script>
    
    @*Slick slider*@
    <script src="~/node_modules/slick-carousel/slick/slick.min.js"></script>

    
    @*Custom js*@
    <script src="@Url.Content("~/scripts/script.js")"></script>

</body>

</html>